root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_style = tab

[*.{yaml,yml}]
indent_size = 2

[*.md]
indent_style = unset
indent_size = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
